header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    color: white;
    justify-content: flex-end; /* Change de center à flex-end pour aligner à droite */
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
   
    display: flex;
}


.h1 {
    margin: 0;
}