header {
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Colle le header au haut de la page */
    left: 0; /* Colle le header au bord gauche de la page */
    width: 100%; /* Fait en sorte que le header prenne toute la largeur de la page */
    color: white; /* Couleur du texte */
    padding: 2rem; /* Ajoute un padding autour du contenu du header */
    z-index: 1000; /* Assure que le header reste au-dessus des autres éléments */
    text-align: center; /* Centre le contenu du header */
}
