.table-container {
    width: 82%;
    position: absolute; /* Positionne l'élément de manière absolue */
    top: 200px; /* Distance depuis le haut de la page */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajuste pour centrer par rapport à la largeur de l'élément */
}
